*{
        gap: 1px;
}


form {
        border: 3px solid #f1f1f1;
}
form{
       /* background-color: beige; */
        max-width: 330px;
        padding: 20px;
        margin: auto; 
        height: 450px;
        border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
        max-height: 650px;
       
}    
input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
}
button {
        background-color: #84b0c9;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
}
      button:hover {
        opacity: 0.8;
}
.imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
}
      
      /* Avatar image */
img.avatar {
        width: 20%;
        border-radius: 50%;
}
.psw {
        float: right;
        padding-top: 16px;
} 
    